<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout.html">
<!-- Banner Wrapper Start -->
<div class="container" layout:fragment="content" style="background-color: white; padding: 30px;">

    <!-- Product Details Section -->
    <div class="card shadow-lg">
        <h1></h1>
        <div class="card-header text-center bg-primary text-white">

            <h2 th:text="${product.name}">Product Name</h2>
        </div>
        <div class="card-body">
            <h4 class="text-center mb-4">제품 상세 정보</h4>
            <div class="table-responsive">
                <table class="table table-bordered table-hover">
                    <tbody>
                    <tr>
                        <th scope="row" style="width: 30%; background-color: #f8f9fa;">Image</th>
                        <td>
                            <img th:src="@{/images/com.png}" class="img-thumbnail" alt="...">
                        </td>
                    </tr>
                    <tr>
                        <th scope="row" style="width: 30%; background-color: #f8f9fa;">Product ID</th>
                        <td>[[${product.productId}]]</td>
                    </tr>
                    <tr>
                        <th scope="row" style="background-color: #f8f9fa;">Company</th>
                        <td>[[${product.name}]]</td>
                    </tr>
                    <tr>
                        <th scope="row" style="background-color: #f8f9fa;">Price</th>
                        <td><span>[[${product.price}]]</span></td>
                    </tr>
                    <tr>
                        <th scope="row" style="background-color: #f8f9fa;">Description</th>
                        <td>
                            <p>[[${product.content}]]</p>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card-footer text-center">
            <a th:href="@{/product/update/{productId}(productId=${product.productId})}" class="btn btn-warning">상품 수정</a>
            <a th:href="@{/product/product}"  class="btn btn-primary">상품리스트로</a>
            <a th:href="@{/product/delete/{productId}(productId=${product.productId})}" class="btn btn-danger">상품 삭제</a>
        </div>
    </div>
</div>

</html>
