<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>404 - 접근 금지</title>

    <style>
        body {
            text-align: center;
            font-family: Arial, sans-serif;
            background-color: #f8f9fa;
        }
        .container {
            margin-top: 100px;
        }
        h1 {
            color: #dc3545;
        }
        .error-details {
            font-size: 18px;
            color: #6c757d;
        }
    </style>
</head>
<body>
<h1>404 Not Found</h1>
<p>요청한 페이지를 찾을 수 없습니다.</p>
<img th:src="@{/images/034.png}" alt="404" />
<hr color="red">
<a   href="/">
    <button>홈으로 돌아가기</button>
</a>
</body>
</html>
