
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout.html">

<div class="container" layout:fragment="content" style="background-color: white">

  <section class="blog">
    <div class="container">
      <div class="title">
        <h2>Latest Blog Post</h2>
        <p>Lorem ipsum madolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor coli <span>incididunt ut labore Lorem ipsum madolor sit amet, consectetur adipisicing incididunt.</span></p>
      </div>
      <div class="row">
        <div class="col-sm-12 col-md-4">
          <div class="thumbnail"> <a class="hover-img" href="javascript:void(0)"> <img alt="image" src="/images/035.png">  </a>
            <div class="caption">
              <ul class="details">
                <li>By <span>Admin</span></li>
                <li>Jan 15 2017</li>
                <li>(20) Comments</li>
              </ul>
              <h3><a th:href="@{/blog-details}">How To Showcase Your Awesome App?</a></h3>
              <p>Lorem ipsum dolor sit amet, consectetur adiiga elit, abuci sedeiusmod tempor inccsetetur aliquatraiy enimni ad numminim veniam, quis nostrud layers.</p>
              <a th:href="@{/404}" class="readmore">Read more</a> </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-4">
          <div class="thumbnail"> <a class="hover-img" href="javascript:void(0)"> <img alt="image" src="/images/035.png"> </a>
            <div class="caption">
              <ul class="details">
                <li>By <span>Admin</span></li>
                <li>Jan 15 2017</li>
                <li>(20) Comments</li>
              </ul>
              <h3><a href="/blog-details">How To Showcase Your Awesome App?</a></h3>
              <p>Lorem ipsum dolor sit amet, consectetur adiiga elit, abuci sedeiusmod tempor inccsetetur aliquatraiy enimni ad numminim veniam, quis nostrud layers.</p>
              <a href="/404" class="readmore">Read more</a> </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-4">
          <div class="thumbnail"> <a class="hover-img" href="javascript:void(0)"> <img alt="image" src="/images/035.png">  </a>
            <div class="caption">
              <ul class="details">
                <li>By <span>Admin</span></li>
                <li>Jan 15 2017</li>
                <li>(20) Comments</li>
              </ul>
              <h3><a href="/blog-details">How To Showcase Your Awesome App?</a></h3>
              <p>Lorem ipsum dolor sit amet, consectetur adiiga elit, abuci sedeiusmod tempor inccsetetur aliquatraiy enimni ad numminim veniam, quis nostrud layers.</p>
              <a href="/404" class="readmore">Read more</a> </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
</html>