<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout.html">

<!-- Header End --> 
<!-- Banner Wrapper Start -->
<div class="container" layout:fragment="content">
<div class="banner-wrapper">
  <div class="carousel fade-carousel slide" data-ride="carousel" data-interval="4000" id="bs-carousel"> 
    <!-- Overlay -->
    <div class="overlay"></div>
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item slides active">
        <div class="slide-1"><img src="/images/loader.gif" alt="Smart App" style="width: 1800px; height: 600px;"></div>
        <div class="hero">
          <h1>SHINSEGAE <I>I&C</I> LIVE</h1>
        </div>
      </div>
      <div class="item slides">
        <div class="slide-2"><img src="/images/loader.gif" alt="Smart App"  style="width: 1800px; height: 600px;"></div>
        <div class="hero">
          <h1>Get<span>Smart App</span>NOW</h1>
         </div>
      </div>
    </div>
    <div class="slide-arrows">
      <a class="left carousel-control" href="#bs-carousel" data-slide="prev"><span class="transition3s glyphicon glyphicon-chevron-left fa fa-angle-left"></span></a>
      <a class="right carousel-control" href="#bs-carousel" data-slide="next"><span class="transition3s glyphicon glyphicon-chevron-right fa fa-angle-right"></span></a></div>
  </div>
</div>
</div>
</html>


<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org"-->
<!--      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"-->
<!--      layout:decorate="layout.html">-->

<!--<div class="container" layout:fragment="content">-->
<!-- -->
<!--</div>-->

<!--</html>-->