<!DOCTYPE html>
<html>
<head>
    <title>Live Viewer</title>
</head>
<body>
<h1>Live Viewer</h1>
<video id="remoteVideo" autoplay playsinline></video>
<script>
    const remoteVideo = document.getElementById('remoteVideo');

    // WebSocket 연결
    const socket = new WebSocket('ws://localhost:8080');
    let remoteConnection;

    socket.onmessage = async event => {
        const chatVO = JSON.parse(event.data);

        if (chatVO.type === 'offer') {
            remoteConnection = new RTCPeerConnection();
            remoteConnection.onicecandidate = event => {
                if (event.candidate) {
                    socket.send(JSON.stringify({ type: 'ice-candidate', data: event.candidate }));
                }
            };
            remoteConnection.ontrack = event => {
                remoteVideo.srcObject = event.streams[0];
            };

            await remoteConnection.setRemoteDescription(new RTCSessionDescription(chatVO.data));
            const answer = await remoteConnection.createAnswer();
            await remoteConnection.setLocalDescription(answer);
            socket.send(JSON.stringify({ type: 'answer', data: answer }));
        } else if (chatVO.type === 'ice-candidate') {
            await remoteConnection.addIceCandidate(new RTCIceCandidate(chatVO.data));
        }
    };
</script>
</body>
</html>
