<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout.html">
<!-- Header End -->
<!-- Banner Wrapper Start -->
<div class="container" layout:fragment="content" style="background-color: white">
  <!-- Inner Banner Wrapper Start -->
  <div class="inner-banner">
    <div class="container">
      <div class="banner-title">

        <ul class="inner-breadcrumb">
          <li>
            <img  src="/images/live.png" alt="Smart App"/>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
</html>


