<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout.html">
<!-- Header End -->
<!-- Banner Wrapper Start -->
<div class="container" layout:fragment="content"  style="background-color: white">

  <!-- Our Services Start -->
  <section class="our-services">
    <div class="container">
      <div class="title">
        <h2 id="resultTitle">네이버 회원 가입 결과</h2>
      </div>

      <!-- 테이블 시작 -->
      <div class="table-responsive">
        <table class="table table-bordered table-striped" style="width: 95%;">
          <thead class="thead-dark" id="tableHead">
          <tr>
            <th scope="col">이메일</th>
            <th scope="col">비밀번호</th>
            <th scope="col">닉네임</th>
            <th scope="col">성별</th>
            <th scope="col">프로필이미지</th>
          </tr>
          </thead>
          <tbody id="tableBody">
          <tr>
            <th>[[${naverDto.email}]]</th>
            <th>[[${naverDto.password}]]</th>
            <th>[[${naverDto.nickname}]]</th>
            <th>[[${naverDto.gender}]]</th>
            <th>
              <img th:src="${naverDto.profile_image}">
            </th>
          </tr>
          </tbody>
        </table>
      </div>
      <!-- 테이블 끝 -->

    </div>
  </section>
</div>
</section>
</div>
</html>